/upload/ticket/
/upload/mission-order/
/upload/purchase-order/
/upload/tmp/
/upload/logo/
/sql/
/connect.php
*.log
/composer.phar

uploadtmp1783585133/toto.txt

core/upload/sifac/demande_sifac_2026_ivan_tefaure_1783087109.xlsx

Paup_exe.c
