<html>
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<font face="Arial">
			<table width="700" cellspacing="0">
				<tr bgcolor="#mail_color_title#" >
					<th style="padding:10px;" ><span style="font-size: large; color: #FFFFFF;">&nbsp; #mail_object# &nbsp;</span></th>
				</tr>
				<tr bgcolor="#mail_color_bg#" >
				  <td style="padding:10px;" >
					<font color="#mail_color_text#">
						#mail_txt#
					</font>
					<br />
					<br />
					<table border="1" bordercolor="#mail_color_title#" cellspacing="0" >
						<tr>
							<td style="padding:5px;"><font color="#mail_color_text#"><b>#title# :</b> #ticket_title#</font></td>
							<td style="padding:5px;"><font color="#mail_color_text#"><b>#category# :</b> #ticket_category# - #ticket_subcat#</font></td>
						</tr>
						<tr>
							<td style="padding:5px;" width="400"><font color="#mail_color_text#"><b>#user# :</b> #ticket_user#</font></td>
							<td style="padding:5px;" width="400"><font color="#mail_color_text#"><b>#technician# :</b> #ticket_technician#</font></td>
						</tr>
						<tr>
							<td style="padding:5px;" ><font color="#mail_color_text#"><b>#state# :</b> #ticket_state#</font></td>
							<td style="padding:5px;" ><font color="#mail_color_text#"><b>#date_create# :</b> #ticket_date_create#</font></td>	
						</tr>
						<tr>
							<td style="padding:5px;" colspan="2"><font color="#mail_color_text#"><b>#place# :</b> #ticket_place#</font></td>
						</tr>
						<tr>
							<td style="padding:5px;" colspan="2"><font color="#mail_color_text#"><b>#description# :</b><br />#ticket_description#</font></td>
						</tr>
						<tr>
							<td style="padding:5px;" colspan="2"><font color="#mail_color_text#"><b>#resolution# :</b><br /> #ticket_resolution#</font></td>
						</tr>
						<tr>
							<td style="padding:5px;" width="400"><font color="#mail_color_text#"><b>#date_hope# :</b> #ticket_date_hope#</font></td>
							<td style="padding:5px;"  width="400"><font color="#mail_color_text#"><b>#date_res# :</b> #ticket_date_res#</font></td>
						</tr>
					</table>
					<br />
					<hr />
					<font color="#mail_color_text#">
						#mail_txt_end#
					</font>
				  </td>
				</tr>
			</table>
		</font>
	</body>
</html>